.adminPage {
    padding: 0 20px 70px 20px;
    &__items {
        padding: 0 30px 200px 30px;
    }
    &__title {
        margin-top: 20px;
        color: #292929;
        text-align: center;
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__selectPage {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        max-width: 700px;
        margin-top: 30px;
    }
    &__selectPage .selectPage {
        &__pageLink {
            width: 300px;
            height: 150px;
            border-radius: 5px;
            border: 1px solid #D8D8D8;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #292929;
            font-family: Montserrat;
            font-size: 25px;
            font-weight: 600;
            &_vacancy {
                background: url('../../../resources/img/admin/admin-vacancy.jpg') no-repeat 50%/cover;
                &:hover {
                    background: 
                    linear-gradient(
                    rgba(255, 255, 255, 0.5), 
                    rgba(255, 255, 255, 0.5)
                    ),
                    url('../../../resources/img/admin/admin-vacancy.jpg') no-repeat 50%/cover;
                }
            }
            &_catalog {
                background: url('../../../resources/img/admin/admin-catalog.jpg') no-repeat 50%/cover;
                &:hover {
                    background: 
                    linear-gradient(
                    rgba(255, 255, 255, 0.5), 
                    rgba(255, 255, 255, 0.5)
                    ),
                    url('../../../resources/img/admin/admin-catalog.jpg') no-repeat 50%/cover;
                }
            }
        }
    }
}